@import "../colors/colors";

$checkbox-size: 19px;
$checkbox-inside-disance: 1.2rem;
$credits-left-size: 22px;

.inline {
  display: inline-block;
  vertical-align: middle;
}

.text-right {
  text-align: right;
}

.page-title {
  // TODO: font family doesn't match. The number '7' is very differnt.
  font-family: inherit;
  font-weight: 700;
  margin: 0px;
  font-size: x-large;
  color: $color-header-title
}

.main-container {
  margin: 20px;
}

// .header-container {
//   margin-bottom: 20px;
// }

.header-selectors {
  //   display: inline-flex;
  background-color: $color-header-selector;
  padding: 5px 25px;
  border: 1px solid $color-header-selector-border;
  border-radius: 5px;
}

// Make variables
.custom-control-label:before {
  background-color: $color-checkbox-background;
  border: 1px solid $color-checkbox-border;
  width: $checkbox-size;
  height: $checkbox-size;
}

.custom-control-label:after {
  width: $checkbox-inside-disance;
  height: $checkbox-inside-disance;
}

.custom-control-label {
  padding-left: 6px;
  padding-top: 2px;
}
// .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
//   background-color: black;
// }

.header-selectors-vetical-divider {
  margin: auto;
  border-left: 0.5px solid $color-header-vertical-divider;
  height: 35px;
}

.header-selectors-vetical-divider-container {
  padding: 0px 10px;
}

.header-selectors-credits {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
}

.header-selectors-checkbox-container {
  padding-left: 18px;
}

.credits-left-number {
  color: $color-credits-left-number-text;
  background-color: $color-credits-left-number-background;
  border-radius: 50%;
  height: $credits-left-size;
  width: $credits-left-size;
  padding-top: 2px;
  text-align: center;
  font-size: 12px;
  /* text-align: center; */
}

.text-color {
  color: $color-text;
}

.credits-left-text {
  color: $color-credits-left-text;
  padding-left: 5px;
  font-size: 14px;
}

.credits-left-container {
  padding-left: 25px;
}

.header-loading-bar {
  border: 1px solid $color-header-loading-bar-border;
  border-radius: 2px;
}

.header-loading-bar-current-number {
  color: $color-header-loading-bar-text;
  font-weight: 700;
}

.header-loading-bar-text {
  padding-left: 10px;
}

.header-loading-bar {
  width: 200px;
}

.w3-green {
  background-color: $color-header-loading-bar-fill !important;
}

.header-loading-bar-separator {
  padding: 0px 3px;
}

.ignore-bootstrap-padding {
  padding: 0px;
}

.header-selectors-dropdown {
  width: 300px;
  border-radius: 5px;
  margin-left: 18px;
  margin-right: 10px;
  font-size: 14px;
  color: $color-text;
}

// .course-selector-container {
// }

.container-bottom-margin {
  margin-bottom: 20px;
}

.course-selector-menu-container {
  padding: 4px;
}

/* remove the original arrow */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

select + i.fa {
  float: right;
  margin-top: -26px;
  margin-right: 20px;
  /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  background-color: transparent;
  color: $color-course-chevron-down !important;
  padding-right: 5px;
  font-size: 19px;
}

select option {
  padding-right: 21px;
}
