<div class="main-container">
  <div class="container-fluid container-bottom-margin header-container">
    <div class="row">
      <div class="col-md-8 ignore-bootstrap-padding">
        <h2 class="inline page-title">High-School Diploma {{schoolYear}}</h2>
        <div class="inline credits-left-container">
          <div class="inline credits-left-number">{{currNumber}}</div>
          <div class="inline credits-left-text">Credits Left!</div>
        </div>
      </div>
      <!-- <div class="col-lg-1"></div> -->
      <div class="col-md-4 ignore-bootstrap-padding text-right">
        <div class="w3-white inline header-loading-bar">
          <div class="w3-container w3-green" style="height:13px; width:46%;"></div>
        </div>
        <!-- <div class="inline">Scroll bar {{currNumber}}/{{maxNumber}}</div> -->
        <span class="inline header-loading-bar-text">
          <div class="inline header-loading-bar-current-number">{{currNumber}}</div>
          <div class="inline header-loading-bar-separator">/</div>
          <div class="inline">{{maxNumber}}</div>
        </span>
      </div>
    </div>
  </div>
  <div class="col-lg-12 container-bottom-margin header-selectors text-color">
    <div class="inline">Requirements</div>
    <div class="inline">
      <select class="form-control header-selectors-dropdown">
        <option>Show All</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <i class="fa fa-angle-down"></i>
    </div>
    <div class="inline header-selectors-vetical-divider-container">
      <div class="header-selectors-vetical-divider"></div>
    </div>
    <div class="inline header-selectors-credits">Credits</div>
    <div *ngFor="let checkbox of checkBoxes;" class="inline header-selectors-checkbox-container">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id={{checkbox.id}}>
        <label class="custom-control-label" for={{checkbox.id}}>{{checkbox.label}}</label>
      </div>
    </div>
  </div>
  <!-- coursePlanner -->
  <div class="container-fluid container-bottom-margin">
    <div class="row">
      <div *ngFor="let courseMenu of coursePlanner;" class="col-lg-3 course-selector-menu-container">
        <app-course-selector-menu [currentYear]="currentYear" [courseMenuDetails]="courseMenu"></app-course-selector-menu>
      </div>
    </div>
  </div>
</div>