@import "../../colors/colors";

$course-slot-radius: 5px;
$course-menu-container-radius: 5px;
$preReqIconSize: 18px;

.main-container {
  border: 1px solid $color-course-selector-main-container;
  border-radius: $course-menu-container-radius;
}

.course-menu-header {
  background-color: $color-course-selector-menu-header-background;
  border-top-left-radius: $course-menu-container-radius;
  border-top-right-radius: $course-menu-container-radius;
  @extend .course-menu-header-padding;
}

.course-menu-header-padding {
  padding: 10px 8px 4px;
}

.title-year {
  font-size: 18px;
  font-weight: 700;
  color: rgb(72, 72, 72);
}

.text-number-credits-planned {
  color: rgb(115, 115, 115);
  font-size: 14px;
}

.course-description-container {
  margin-top: -4px;
  div {
    font-size: 12px;
  }
}

.course-description-container.warning-description {
  padding-top: 10px;
  padding-bottom: 5px;
  div {
    font-size: 14px;
  }
}

.course-title {
  font-size: 13px;
}

.inline {
  display: inline-block;
}

.text-course-text-less-importance {
  color: rgb(174, 174, 174);
}

.push-right {
  float: right;
}

.text-course-credit-value {
  margin-top: 4px;
}

.text-course-separator {
  margin: 0px 8px;
  padding: 6px 1px;
  border-left: 0.5px solid $color-course-selector-menu-text-separator;
  vertical-align: middle;
}

.course-slots-container {
  padding: 8px 8px 16px;
}

.course-slot {
  border: 1px solid $color-course-selector-slot-border;
  border-radius: $course-slot-radius;
  margin-bottom: 5px;
  // display: flex;
}

.course-slot:hover {
  opacity: 0.7;
  cursor: pointer;
}

.course-slot-inside {
  padding: 4px 12px;
}

.course-slot-selected {
  border-left: 8px solid $color-course-selector-slot-selected-border-left;
}

.course-slot-selected.course-slot-warning {
  border-left: 8px solid $color-credits-left-number-background;
}

.course-slot-available {
  color: $color-course-selector-slot-available;
  padding: 12.8px;
  border: 1px dashed $color-course-selector-slot-available-border;
}

.course-menu-footer {
  background-color: $color-course-selector-slot-footer-background;
  text-align: center;
  padding: 17px 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.course-menu-footer-button {
  color: $color-course-selector-slot-footer-button-text;
  background-color: $color-course-selector-slot-footer-button-background;
  padding-bottom: 7px;
  font-size: 19px;
}

.course-menu-footer-button:hover {
  background-color: $color-course-selector-slot-footer-button-background-hover;
  border-color: $color-course-selector-slot-footer-button-border-hover;
  // opacity: 0.7;
}

.course-slot-add-sidebar {
  color: $color-course-selector-slot-sidebar-icon;
  background-color: $color-course-selector-slot-sidebar-background;
  padding: 12px;
  border-bottom-left-radius: $course-slot-radius;
  border-top-left-radius: $course-slot-radius;
  font-size: 28px;
  padding: 0px 9px 4px;
}

.course-add-elective {
  color: $color-course-selector-add-elective;
}

.course-menu-footer-button-container {
  padding: 1px;
  border-radius: 5px;
  border: 1px solid $color-course-selector-slot-footer-button-background;
  margin: auto;
  width: min-content;
}

@supports (-ms-ime-align: auto) {
  .course-menu-footer-button-container {
    // width: 171px;
    -ms-grid-row: 2;
    display: inline-block;
  }
}

.course-slot-add {
  display: flex;
}

// .warning-offset {
//   margin-right: -5px
// }

.warning-pre-req {
  color: $color-credits-left-number-text;
  background-color: $color-credits-left-number-background;
  border-radius: 50%;
  height: $preReqIconSize;
  width: $preReqIconSize;
  border: 0.5px solid black;
  padding-left: 1px;
  text-align: center;
  font-size: 11.5px;
}

.pre-req-add-one {
  color: $color-course-selector-warning-add-one;
  padding-left: 5px;
}

.course-slot-warning-common {
  position: absolute;
  z-index: 100;
}

.course-slot-warning {
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
  background: white;
  margin-top: -70px;
  width: calc(100% - 26px);
  @extend .course-slot-warning-common;
}

.course-slot-warning:after {
  content: "";
  top: 100%;
  left: calc(100% - 22px);
  transform: translateX(-50%);
  border: 8px solid white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: white;
  border-bottom-color: transparent;
  width: 0;
  height: 0;
  margin: 0 auto;
  @extend .course-slot-warning-common;
}
