<div [ngClass]="courseMenuDetails.creditsPlanned > 0 ? 'main-container' : ''">
  <div [ngClass]="courseMenuDetails.creditsPlanned > 0 ? 'course-menu-header' : 'course-menu-header-padding'">
    <div class="title-year">YEAR {{courseMenuDetails.yearNumber}} {{currentYear == courseMenuDetails.yearNumber - 1 ? "(next year)" : ""}}</div>
    <div class="text-number-credits-planned">{{courseMenuDetails.creditsPlanned}} credit planned</div>
  </div>
  <div class="course-slots-container">
    <div *ngFor="let course of courseMenuDetails.courses;">
      <div *ngIf="course.courseCode == hovering" class="course-slot course-slot-selected course-slot-warning">
        <div class="course-slot-inside">
          <div>
            <div class="inline course-title">This course requires a Pre-Requisite</div>
          </div>
          <div class="course-description-container warning-description">
            <div class="inline pre-req-add-one">Add one.</div>
          </div>
        </div>
      </div>
      <div (mouseenter)="mouseEnter(course) " (mouseleave)="mouseLeave()" *ngIf="course.courseSelectionType == 'SELECTION_TYPE_SELECTED'"
        class="course-slot course-slot-selected">
        <div class="course-slot-inside">
          <div>
            <div class="inline course-title">{{course.courseTitle}}</div>
            <div *ngIf="course.preReqWarning" class="inline course-title push-right">
              <div class="warning-pre-req">
                !
              </div>
            </div>
          </div>
          <div class="course-description-container">
            <div class="inline">{{course.courseCode}}</div>
            <div class="inline text-course-separator"> </div>
            <div class="inline text-course-text-less-importance">{{course.courseDescription}}</div>
            <div [ngClass]="course.preReqWarning ? 'warning-offset' : ''" class="inline text-course-text-less-importance text-course-credit-value push-right">{{course.creditValue}} cr.</div>
          </div>
        </div>
      </div>
      <div *ngIf="course.courseSelectionType == 'SELECTION_TYPE_ADD'" class="course-slot course-slot-add">
        <div class="inline course-slot-add-sidebar">
          +
        </div>
        <div class="inline course-slot-inside">
          <div class="course-title course-add-elective">Add {{course.courseTitle}}</div>
          <div class="course-description-container">
            <div class="inline text-course-text-less-importance text-course-credit-value">{{course.customText ? course.customText : course.creditValue + ' cr.'}} </div>
          </div>
        </div>
      </div>
      <div *ngIf="course.courseSelectionType == 'SELECTION_TYPE_AVAILABLE'" class="course-slot course-slot-available">
        Available Slot
      </div>
    </div>
  </div>
  <div *ngIf="courseMenuDetails.creditsPlanned > 0" class="course-menu-footer">
    <div class="course-menu-footer-button-container">
      <button type="button" class="btn course-menu-footer-button">
        Ready To Submit
      </button>
    </div>
  </div>
</div>