$color-text: rgb(115, 115, 115);
$color-border: rgb(225, 225, 225);
$color-course-selector-add-elective: rgb(2, 123, 175);
$color-checkbox-background: white;
$color-checkbox-border: lightgrey;
$color-header-title: rgb(72, 72, 72);
$color-header-selector: rgb(241, 241, 241);
$color-header-selector-border: lightgrey;
$color-header-vertical-divider: lightgrey;
$color-credits-left-text: rgb(119, 119, 119);
$color-credits-left-number-background: #d23859;
$color-credits-left-number-text: white;
$color-header-loading-bar-border: $color-border;
$color-header-loading-bar-text: rgb(68, 130, 13);
$color-header-loading-bar-fill: rgb(130, 195, 31);
$color-course-selector-main-container: lightgrey;
$color-course-selector-menu-header-background: #f1f1f1;
$color-course-selector-menu-text-separator: lightgrey;
$color-course-selector-slot-border: rgb(204, 204, 204);
$color-course-selector-slot-selected-border-left: rgb(130, 195, 31);
$color-course-selector-slot-available: rgb(174, 174, 174);
$color-course-selector-slot-available-border: $color-border;
$color-course-selector-slot-footer-background: rgb(38, 175, 223);
$color-course-selector-slot-footer-button-background: $color-course-selector-add-elective;
$color-course-selector-slot-footer-button-text: white;
$color-course-selector-slot-footer-button-background-hover: #286090;
$color-course-selector-slot-footer-button-border-hover: #204d74;
$color-course-selector-slot-sidebar-icon: white;
$color-course-selector-slot-sidebar-background: rgb(38, 175, 223);
$color-course-chevron-down: rgb(130, 130, 130);
$color-course-selector-warning-add-one: rgb(89, 168, 202);
